@use "variables" as *;

:root {
  --color-dark-link: var(--color-darkgreen-900);
  --color-dark-link-hover: var(--color-red-700);
  --color-dark-box-bg: var(--color-darkgreen-800);
  --color-dark-text-heading: var(--color-black);
  --color-dark-text-normal: var(--color-darkgreen-900);
  --color-dark-text-highlight: var(--color-red-700);
  --color-dark-text-mute: var(--color-gray-300);

  --color-light-link: var(--color-gray-100);
  --color-light-link-hover: var(--color-green-500);
  --color-light-box-bg: var(--color-darkgreen-800);
  --color-light-text-heading: var(--color-white);
  --color-light-text-normal: var(--color-gray-400);
  --color-light-text-highlight: var(--color-green-500);
  --color-light-text-mute: var(--color-darkgreen-800);

  --color-mermaid-primary: var(--color-red-500);
  --color-mermaid-secondary: var(--color-darkgreen-900);
  --color-mermaid-tertiary: var(--color-darkgreen-700);
  --color-mermaid-line: var(--color-gray-300);
  --color-mermaid-fill1: var(--color-darkgreen-600);

  --font-size: 16px;
  --height-logo: 30px;
}

body {
  margin: 0;
  padding: 0;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.7em; }
h6 { font-size: 1.5em; }

.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;

}

code {
  border-radius: var(--border-radius);
  background-color: transparent;
}

details {
  margin-top: var(--space-sm);

  summary {
    cursor: pointer;
    list-style-position: outside;

    > *:not(.link-button):first-child {
      display: inline;
    }
  }

  &[open] {
    margin-bottom: var(--space-md);
  }
}

a > img {
  display: inline-block;
}

@media (min-width: calc($page-l + 1px)) {
  .d--h_l { display: none !important; }
}

@media (max-width: $page-l) {
  :root {
    --font-size: 14px;
    --height-logo: 20px;
  }

  .content {
    max-width: 1024px;
  }

  .d--v_l { display: none !important; }
}

@media (min-width: calc($page-m + 1px)) {
  .d--h_m { display: none !important; }
}

@media (max-width: $page-m) {
  .content {
    max-width: 800px;
  }

  .d--v_m { display: none !important; }
}

@media (min-width: calc($page-s + 1px)) {
  .d--h_s { display: none !important; }
}

@media (max-width: $page-s) {
  body {
    min-width: $page-min;
  }

  .content {
    max-width: 90%;
  }

  .d--v_s { display: none !important; }

  .f--xl { font-size: 1.125em; }
  .f--lg { font-size: 1.0675m; }
  .f--md { font-size: 1em; }
  .f--sm { font-size: 0.875em; }
  .f--xs { font-size: 0.75em; }
}
