name: Publish
on:
  push:
    branches:
      - main
jobs:
  generate:
    name: Generate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Disable AppArmour
        run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
      - name: Build
        run: |
          cd .theme/
          npm install
          npm run generate:production
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: .theme/.output/public
          if-no-files-found: error
          include-hidden-files: true
  publish:
    needs: generate
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: output
      - name: SFTP upload
        uses: Dylan700/sftp-upload-action@latest
        with:
          server: mouseless.org
          username: root
          password: ${{secrets.FTP_PASSWORD}}
          delete: true
          uploads: ./ => /var/www/mouseless.org/
